<body class="home">
  <div class="shader">
    <div class="home_container">
      <h1 class="home_h1"> My Gym </h1>
      <h2 class="home_h2">Welcome to the Gym<br><br>Opening times</h2>

      <div id="opening_times">
        <ul>
          <li class="homepage_nav">Monday: 7:00am to 10:00pm</li>
          <li class="homepage_nav">Tuesday: 7:00am to 10:00pm</li>
          <li class="homepage_nav">Wednesday: 7:00am to 10:00pm</li>
          <li class="homepage_nav">Thursday: 7:00am to 10:00pm</li>
          <li class="homepage_nav">Friday: 7:00am to 9:00pm</li>
          <li class="homepage_nav">Saturday: 8:00am to 3:00pm</li>
          <li class="homepage_nav">Sunday Closed</li>

        </ul>
      </div>
      <div >
        <%= link_to"SIGN IN", new_user_session_path, class: "button lrg_button"%>
      </div>
      <div class="welcome_bottom_nav">
        <ul>
          <li><%=link_to"More Info...",about_path, class: "homepage_nav"%></li>
          <li class="homepage_nav">Gallery</li>
          <li><%=link_to"Contact Us",contact_us_path ,class: "homepage_nav"%></li>
        </ul>
      </div>
    </div>
  </div>
</body>
