body{
  font-family: futura;
  position:relative;
}


.home{
  background-image: url('homepagebackground.png') ;
  background-size: cover;
 
}
.shader{
  width:100%;
  top:0;
  left:0;
  background-color:rgba(207, 244, 252, .25);
  display: flex;
  justify-content: center;
  align: center;
}

.home_container{

  width:600px;
  color:rgba(248, 247, 248, 1.0);
  text-align: center;
 
}

.home_container, .sign_in{
  margin-top:20%
}

.home_h1{
  font-size:5em;
  margin:20px 0;
  
}

.home_h2{
  font-size: 30px;
  color:rgba(248, 247, 248, 1.0);
}

#opening_times{
  margin:50px 0;
}

.welcome_bottom_nav{
  margin-top:20px;
}

li{
  font-size: 2em;
  font-weight: 700;
  padding:10px;
  list-style: none;
  text-decoration: none;
  color:rgba(248, 247, 248, 1.0);
  text-align: center;
}

.button{
  font-size:20px;
  font-family: 'american typewriter', 'sans-serif';
  background-color:rgba(142, 175, 203, 1.0);
  padding:10px;
  border-radius:2px;
}

.lrg_button{
  font-size: 50px;
  color:rgba(248, 247, 248, 1.0);
  padding: 2px 10px;
}


.navbar{
  display:block;
  width: 100%;
  top:0%;
  left:0%;
  height:30px;
  background-color:rgba(219, 242, 234, .8)
}

.nav-item{
  display:inline;
  list-style: none;
  padding-left:10px;

}

.edit_page_block{
  width:200px;
  float:left;
}

.input_lrg{
  font-size: 40px;
}





/* QR Code styling */
table.qr-code {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
table.qr-code td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
}
table.qr-code td.black { background-color: #000; }
table.qr-code td.white { background-color: #fff; }