body{
  font-family: futura;
  position: relative;
}


.navbar{
  display:block;
  width: 100%;
  top:0%;
  left:0%;
  height:30px;
  background-color:rgba(219, 242, 234, .8)
}

.nav-item{
  display:inline;
  list-style: none;
  padding-left:10px;

}

.edit_page_block{
  width:200px;
  float:left;
}



/* QR Code styling */
table.qr-code {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
table.qr-code td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
}
table.qr-code td.black { background-color: #000; }
table.qr-code td.white { background-color: #fff; }