<nav>
  <h1>Welcome to the gym</h1>
</nav>
<div class="stats_block">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div class="reminder">
</div>
<div class="menu_icons">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      Membership<br>Card
    </div>
    <div class="col-sm-4">
      My Classes
    </div>
    <div class="col-sm-4">
      My Routines
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      My Messages
    </div>
    <div class="col-sm-4">
      Gallery
    </div>
    <div class="col-sm-4">
      News
    </div>
  </div>
</div>
</div>

